body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

.navbar-brand {
  font-size: 2rem;
}

#home-section {
  background: url(../images/surgenorStore.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 900px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 900px;
  background: rgba(0, 0, 0, 0.7);
}

#title {
  margin-top: 30rem;
  font-size: 3rem;
}

h1 {
  font-size: 5rem;
}

#login-form {
  margin-top: 30rem;
}
